@page "/book"
@using BlackDigital.Rest;
@using Example.Service
@using BlackDigital.Blazor.Components
@inject RestService<IOpenLibrary> Service

<h3>Book</h3>

<ModelForm Model="CurrentBook">
</ModelForm>

@code {

    [Parameter]
    public Book? CurrentBook { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        //CurrentBook = await OpenLibrary.GetBook("OL7353617M");
        CurrentBook = await Service.CallAsync(s => s.GetBook("OL7353617M"));

        var x = CurrentBook;
    }

}
