@page "/edit"
@using BlackDigital.Blazor.Components
@using Example.Models;


<ModelForm Model="Model" IgnoreProperties="(m) => new { m.CreatedAt }">
    <Footer>
        <button type="submit">Test</button>
    </Footer>
</ModelForm>


@code {
    public MyModel Model { get; set; } = new();
}
