@using BlackDigital.Blazor.Components.Fields
@inherits BDComponent

<div class="col-12 col-md-6">
    <label>@Localize(Label)</label>

    @if (ChildContent != null)
    {
        @ChildContent
    }

    <span class="field-description">@Localize(Description)</span>
    
    @if (For != null)
    {
        <ValidationMessage For="For" />
    }
    else
    {
        <FieldValidationMessage />
    }
</div>